* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 720px;
  margin: auto;
  /* background-image: url("/assets/bg-image.jpg"); */
  background-size: 720px;
}

.container {
  padding: 0;
  text-align: center;
  margin-top: 2vh;
}

.container h1 {
  text-decoration: underline;
  margin-bottom: 30px;
}

.left {
  text-align: left;
}

.resultContainer {
  display: none;
}
#enterHtNoAgain {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
  #enterHtNoAgain * {
    display: none;
  }
  #printResult {
    display: none;
  }
}
/* @media print {
  #printResult {
    display: none;
  }
} */
